
<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline text-center">
      <% ["aquilesvo", "AliciaEyb"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle avatar" %>
          <h3><%= gh_username.capitalize %></h3>
          <p>
            <a href="http://github.com/#{gh_username}"> <i class="fa fa-github"></i> <%= gh_username.downcase %> </a>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>




